<h1>Hi, <%= session[:name] %>.</h1>
<% if session[:name] %>
  <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='logout'>
  <% end %>
<% else %>
  <%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <input type=submit value='login'>
  <% end %>
<% end %>
